<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zhzh.mapper.CustomerDao">
    <update id="update" parameterType="com.zhzh.mapper.Customer"></update>
    <delete id="deleteStudentBySno"></delete>
    <select id="count" resultType="_int">
        SELECT   count(1) FROM  customer
    </select>
    <select id="queryById" resultType="com.zhzh.mapper.Customer">
        SELECT * FROM  customer WHERE id=#{id}
    </select>
</mapper>